button {
  border-radius: none;
  border: unset;
}

.btn {
  display: flex;
  font-family: inherit;
  padding: 12px 0px 12px 20px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}

.btn__icon {
  display: grid;
  margin: 0 12px 0 32px;
  place-content: center;
}

.btn-greensea600 {
  background-color: $seagreen600;
  color: var(--white, #fff);
  &:hover {
    background: $seagreen500;
  }
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 48px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.btn-white {
  background-color: $white;
  color: $black;

  svg {
    stroke: $black;
  }
  &:hover {
    background-color: $seagreen600;
    color: $white;
    svg {
      stroke: $white;
    }
  }
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 48px;
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.btn-big {
  padding: 16px 0px 16px 24px;
  .btn__icon {
    margin: 0 16px 0 40px;
  }
  &::before {
    right: 56px;
  }
}
