button {
  border-radius: none;
  border: unset;
}

.btn {
  display: flex;
  align-items: stretch;
}

.btn__text {
  padding: 12px 20px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.btn__icon {
  display: grid;
  padding: 0 12px;
  place-content: center;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-greensea600 {
  background-color: $seagreen600;
  color: var(--white, #fff);
  &:hover {
    background: $seagreen500;
  }
}

.btn-white {
  background-color: $white;
  color: $black;
  stroke: $black;
  &:hover {
    background-color: $seagreen600;
    color: $white;
    stroke: $white;
  }
}
