$seagreen900: #005e63;
$seagreen800: #00818e;
$seagreen700: #0095a6;
$seagreen600: #00aac0;
$seagreen500: #00b9d3;
$seagreen400: #25c4d9;
$seagreen300: #4ccee1;
$seagreen200: #7fddea;
$seagreen100: #b2eaf2;
$seagreen050: #b2eaf2;

$grayscale050: #fafafa;
$grayscale100: #f5f5f5;
$grayscale200: #eee;
$grayscale300: #e0e0e0;
$grayscale400: #bdbdbd;
$grayscale600: #757575;
$grayscale700: #4d4d4d;
$grayscale800: #424242;
$grayscale900: #212121;

$brown300: #f8f1e8;

$black: #000;
$white: #fff;
