.preheader {
  z-index: 90;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  background-color: $seagreen600;
  color: $grayscale050;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  span {
    font-weight: 600;
    text-decoration: underline;
  }
}

.close-preheader {
  position: absolute;
  top: 8px;
  right: 14px;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 90;
  background: #fff;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid var(--grayscale-100, #ededed);
  }

  &__links {
    display: flex;
    gap: 32px;
    color: $grayscale700;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  &__icons {
    display: flex;
    gap: 16px;
  }
}

.hamburger-css {
  display: none;
}

@media (max-width: 1430px) {
  .header {
    padding: 0 16px;
  }
}

@media (max-width: 425px) {
  .preheader {
    padding: 12px 0;
    font-size: 12px;
    line-height: 20px;
  }
  .close-preheader {
    top: 4px;
    right: 4px;
  }
}
