.rolets {
  .container {
    padding: 20px 0 64px;
  }
  &__breadcrumbs {
    color: $grayscale600;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px; /* 200% */
    margin-bottom: 20px;
  }

  &__categories {
    width: 188px;
    &-heading {
      color: $black;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px; /* 175% */
      margin-bottom: 8px;
    }
    &-list {
    }

    &-item {
      color: $grayscale700;
      text-align: center;
      font-family: Figtree;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      padding: 6px 0 6px 16px;
    }
  }

  &__container {
  }

  &__heading {
    color: $black;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px; /* 128.571% */
  }

  &__quantity {
    border-radius: 18px;
    border: 1px solid $grayscale100;
    padding: 6px 16px;
    color: $grayscale700;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 166.667% */
  }

  &__select {
    position: relative;
    width: 272px;
    padding: 12px 16px 12px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 171.429% */
    border: 1px solid $grayscale100;
    background: $white;
    color: $grayscale700;
    &:hover {
      color: $black;
    }
    &-circle {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      flex-shrink: 0;
      display: none;
      place-content: center;
      background-color: #00aac0;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
      &.active {
        display: grid;
      }
    }
  }

  &__filters {
    &-item {
      display: none;
      padding: 4px 8px 4px 12px;
      border-radius: 18px;
      background: $grayscale050;
      color: $black;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      &.active {
        display: flex;
      }
    }
    &-menu {
      display: none;
      margin-top: 16px;
      &.active {
        display: flex;
      }
    }
  }

  &__clear {
    color: $grayscale700;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    text-decoration: underline;
  }

  &__color {
    width: 24px;
    height: 24px;
    border-radius: 200px;
    margin-right: 12px;

    &.antracyt {
      background-color: #292c33;
    }

    &.orange {
      background-color: orange;
    }

    &.citrone {
      background-color: lemonchiffon;
    }

    &.biel {
      background-color: #eee9e7;
    }
    &-select {
      display: none;
      flex-direction: column;
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      background-color: $white;
      border: 1px solid $grayscale100;
      width: 100%;
      padding: 8px;
      /* ===== Scrollbar CSS ===== */
      /* Firefox */
      * {
        scrollbar-width: auto;
        scrollbar-color: #00aac0 #ffffff;
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 4px;
      }

      *::-webkit-scrollbar-track {
        background: #ffffff;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #00aac0;
        border-radius: 4px;
        border: 3px solid #ffffff;
      }
      max-height: 471px;
      overflow: auto;
    }
    &-name {
      font-size: 14px;
      line-height: 24px; /* 171.429% */
    }

    &-quantity {
      color: $grayscale700;
      margin-left: auto;
      font-size: 12px;
      line-height: 20px; /* 166.667% */
    }

    &-option {
      padding: 10px 12px;
      .checkbox {
        width: 20px;
        height: 20px;
        padding: 4px;
        border: 1px solid var(--grayscale-200, #e0e0e0);
        margin: 2px 12px 2px 2px;
        position: relative;
      }
      &.active {
        .checkbox {
          display: grid;
          place-content: center;
          border-color: $seagreen600;
          background-color: $seagreen600;
          &::before {
            content: url(../img/check-big.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  &__side {
    position: relative;
    &-select {
      display: none;
      flex-direction: column;
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      background-color: $white;
      border: 1px solid $grayscale100;
      width: 100%;
      padding: 8px;
    }
    &-option {
      padding: 10px 12px;

      .checkbox {
        width: 20px;
        height: 20px;
        padding: 4px;
        border: 1px solid var(--grayscale-200, #e0e0e0);
        margin: 2px 12px 2px 2px;
        position: relative;
      }

      &.active {
        .checkbox {
          display: grid;
          place-content: center;
          border-color: $seagreen600;
          background-color: $seagreen600;
          &::before {
            content: url(../img/check-big.svg);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    &-quantity {
      color: $grayscale700;
      margin-left: auto;
      font-size: 12px;
      display: inline-block;
      line-height: 20px; /* 166.667% */
    }

    &-name {
      font-size: 14px;
      line-height: 24px; /* 171.429% */
    }
  }
}

.select-color-js {
  &.active {
    .rolets__color-select {
      display: flex;
    }
  }
}

.select-side-js {
  &.active {
    .rolets__side-select {
      display: flex;
    }
  }
}

.breadcrumbs__line {
  width: 8px;
  height: 1px;
  background-color: $grayscale600;
}

.product {
  width: 100%;
  align-items: center;
  padding: 28px 32px 20px;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: $bg-light;
  &.active {
    display: flex;
  }
  img {
    max-width: 320px;
    max-height: 320px;
    width: 100%;
  }
  &__grid {
    width: 100%;
    gap: 22px;
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 1px solid $grayscale100;
  }

  .hidden {
    display: none;
  }

  .shown {
    display: block;
  }

  .container {
    margin-bottom: 64px;
  }

  .guide__heading {
    margin-bottom: 32px;
  }

  &__desc {
    width: 100%;
  }

  &__name {
    @include figtree(16px, 24px);
    font-weight: 500;
  }

  &__attr {
    @include figtree(14px, 24px);
    color: $grayscale700;
  }

  &ed__price {
    @include figtree(16px, 28px);
    font-weight: 600;
    color: $seagreen800;
    &.black {
      color: $black;
    }
  }

  &__price {
    @include figtree(12px, 24px);
    text-decoration: line-through;
    color: $grayscale700;
  }

  &__price-lowest {
    @include figtree(12px, 18px);
    color: $grayscale500;
  }

  &__flexbox {
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 12px;
  }

  &__margin {
    margin-bottom: 40px;
    padding-right: 16px;
  }

  &__button {
    @include figtree(14px, 20px);
    color: $black;
    flex-shrink: 0;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 18px;
    background-color: $grayscale050;
    transition-property: background, color;
    transition-duration: 0.3s;
    &:hover {
      cursor: pointer;
      color: $seagreen800;
    }

    &.active {
      background-color: $seagreen600;
      color: $white;
    }
  }

  &__splide {
    padding-bottom: 64px;
  }

  &__tag {
    padding: 2px 8px;
    border-radius: 16px;
    border: 1px solid $grayscale100;
    color: $seagreen800;
    font-weight: 700;
    text-transform: uppercase;
    @include figtree(10px, 20px, 1.2px);
  }
}

.lorem {
  padding-bottom: 48px;
  border-bottom: 1px solid $grayscale100;
  margin-bottom: 32px;
  &__heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
  }

  &__text {
    color: var(--grayscale-700, #4d4d4d);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
}

.tags {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tag {
  border-radius: 10px;
  background-color: $grayscale050;
  padding: 6px 12px;
  color: var(--grayscale-black, #000);

  font-size: 14px;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.three-btns {
  display: none;
  margin-bottom: 20px;
  .btn-1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    width: 112px;
    display: flex;
    gap: 8px;
    background: var(--grayscale-050, #fafafa);
    padding: 10px 16px 10px 12px;
    svg {
      flex-shrink: 0;
    }
  }
}

.close-cat {
  display: none;
}

.checkout-all-products {
  display: none;
}

.marto-auto {
  margin-top: auto;
  display: none;
}

@media (max-width: 1430px) {
  .rolets {
    .container {
      padding: 0 16px;
    }
  }
}

@media (max-width: 1200px) {
  .three-btns {
    display: flex;
  }

  .dno {
    display: none;
  }

  .marto-auto {
    display: flex;
    padding: 24px;
    gap: 12px;
    border-top: 1px solid $grayscale100;
  }

  .marto-btn-white {
    width: 100%;
    align-items: center;
    color: var(--grayscale-black, #000);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    background-color: $white;
    border: 1px solid $grayscale100;
    justify-content: space-between;
    padding-left: 20px;
    .marto-btn-icon {
      display: grid;
      place-content: center;
      padding: 12px;
      border-left: 1px solid $grayscale100;
    }
  }

  .marto-btn-blue {
    width: 100%;
    align-items: center;
    color: $white;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    background-color: $seagreen600;
    justify-content: space-between;
    padding-left: 20px;
    .marto-btn-icon {
      display: grid;
      place-content: center;
      padding: 12px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .close-cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    border-bottom: 1px solid $grayscale100;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }

  .rolets {
    &__breadcrumbs {
      margin-bottom: 12px;
    }
    &__categories {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: 290;
      transition: 0.3s transform linear;
      transform: translate(-100%);
      background-color: $white;
      &.active {
        transform: translate(0);
      }
    }
    &__heading {
      justify-content: space-between;
      width: 100%;
      color: var(--grayscale-black, #000);
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px; /* 155.556% */
    }
    &__quantity {
      color: var(--grayscale-700, #4d4d4d);
      background-color: unset;
      border-radius: unset;
      border: unset;
      padding: unset;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px; /* 166.667% */
    }
  }

  .rolets__categories {
    &-heading {
      display: none;
    }
    .checkout-all {
      display: block;
    }

    .checkout-all-products {
      padding: 24px 0;
      margin: 0 auto;
      width: calc(100% - 48px);
      color: var(--grayscale-700, #4d4d4d);

      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      border-bottom: 1px solid $grayscale100;
    }
    &-list {
      padding: 12px 0;
      margin: 0 auto;
      width: calc(100% - 48px);
    }
    &-item {
      color: $black;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      padding: 12px 0;
    }
  }

  .responsive-filters {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 290;
    background-color: $white;
    flex-direction: column;
    transform: translate(-100%);
    transition: 0.3s transform;
    gap: unset;
    &.active {
      transform: translate(0);
    }
  }

  .rolets__select {
    width: 100%;
    border: unset;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 24px;
  }

  .rolets__color-select,
  .rolets__side-select {
    position: relative;
    left: unset;
    top: unset;
    z-index: 20;
    border: unset;
  }
}
